<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/websocket
                           http://www.springframework.org/schema/websocket/spring-websocket.xsd">

    <bean id="websocketConfigProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:websocket.properties</value>
            </list>
        </property>
    </bean>

    <bean id="websocketPropertyConfigurer" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
        <property name="propertiesArray">
            <list>
                <ref bean="websocketConfigProperties"/>
            </list>
        </property>
    </bean>

    <websocket:message-broker user-destination-prefix="/user/">
        <websocket:transport send-timeout="15000" send-buffer-size="524288" message-size="131072"/>
        <websocket:stomp-endpoint path="/ws/stomp" allowed-origins="*">
            <websocket:handshake-interceptors>
                <bean class="huayang.hychat.web.interceptor.WebSocketHandshakeInterceptor"/>
            </websocket:handshake-interceptors>
            <websocket:sockjs/>
        </websocket:stomp-endpoint>
        <websocket:simple-broker prefix="/topic,/queue"/>
        <!--<websocket:stomp-broker-relay prefix="/topic,/queue" relay-host="${websocket.relay.host}" relay-port="${websocket.relay.port}"
                                      client-login="${websocket.client.login}" client-passcode="${websocket.client.passcode}"
                                      system-login="${websocket.system.login}" system-passcode="${websocket.system.passcode}"
                                      heartbeat-send-interval="5000" heartbeat-receive-interval="5000"
                                      user-destination-broadcast="/topic/unresolved-user-destination"
                                      user-registry-broadcast="/topic/simp-user-registry"/>-->
    </websocket:message-broker>

</beans>